.button {
    background-color: mediumaquamarine;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: xx-large;
    border: 5px solid green;
    text-align:center
}
.header {
    text-align:center;
}

.button:hover {
    background-color: aquamarine;
    color: white;
    text-align:center
}

p, label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}